<!DOCTYPE html>
<html>
<head>
  <title>My API Page</title>
  <style>
    /* Set the size of the div that will contain the map */
    #map {
      height: 400px;
      width: 500px;
    }
  </style>
</head>
<body>
  <h1>My API Page</h1>

  <div id="map"></div>

  <script>
    function initMap() {
      const myLocation = { lat: -25.363, lng: 131.044 }; // replace with your coordinates

      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLocation,
      });

      new google.maps.Marker({
        position: myLocation,
        map,
        title: 'My Location!',
      });
    }

    const script = document.createElement('script');
    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBacx0PXiPoofZGcK-gQ1calWVCJAftvWs&callback=initMap';
    script.async = true;
    document.head.appendChild(script);
  </script>
</body>
</html>
