<!-- Views for creating new product -->
<!-- form action specifies where to send the form-data when a form is submitted -->
<!-- method POST is used to send form-data -->
<h1>Add a New Product</h1>
<form action="/products" method="POST">
  <!-- Input fields for product's name, price, description, and quantity -->
  <!-- 'required' attribute is a boolean attribute. When present, it specifies that an input field must be filled out before submitting the form -->
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" required>
  </div>
  <!-- The Submit button to submit the form -->
  <input type="submit" value="Add Product">
</form>