<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>ecommerce</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container"><a class="navbar-brand" href="#">Brand</a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/">Products</a></li>
                </ul><a class="btn btn-primary ms-auto" role="button" href="/views/login.ejs">Login</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 style="margin-bottom: 25px;margin-top: 30px;">ProductS</h1>
        <div data-reflow-type="product-list" data-reflow-layout="cards" data-reflow-order="date_desc" data-reflow-product-link="/product.html?product={id}">
            <div class="reflow-product-list ref-cards">
                <div class="ref-products"><a class="ref-product" href="/product.html?product=43218622"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-30_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Yasmeen Rohan</h5>
                                <p class="ref-excerpt">Quia veniam deserunt dignissimos cupiditate illo libero.</p>
                            </div>
                            <p class="ref-price">$572.44</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=2012025209"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-29_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Broderick Orn DDS</h5>
                                <p class="ref-excerpt">Animi quos voluptas veniam ut omnis.</p>
                            </div>
                            <p class="ref-price">$486.41</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1799137284"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-28_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Joana Schuster I</h5>
                                <p class="ref-excerpt">Consectetur sunt magni asperiores minima.</p>
                            </div>
                            <p class="ref-price">$686.96</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1611547343"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-27_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Otis Pagac</h5>
                                <p class="ref-excerpt">Quaerat et tenetur excepturi perferendis nostrum.</p>
                            </div>
                            <p class="ref-price">$894.56</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1431952778"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-26_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Piper Botsford</h5>
                                <p class="ref-excerpt">Et minus officia id ea.</p>
                            </div>
                            <p class="ref-price">$264.66</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1252750421"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-25_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Miss Abby Huel DVM</h5>
                                <p class="ref-excerpt">Sint deserunt ducimus voluptatum officia id ducimus amet.</p>
                            </div>
                            <p class="ref-price">$393.48</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1065684752"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-24_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Carlie Nikolaus</h5>
                                <p class="ref-excerpt">Non nisi exercitationem illo voluptatum deleniti aperiam.</p>
                            </div>
                            <p class="ref-price">$428.55</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=886352347"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-23_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Prof. Nico Reichel</h5>
                                <p class="ref-excerpt">Illum iste inventore nihil ipsum.</p>
                            </div>
                            <p class="ref-price">$804.41</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=673595622"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-22_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Dessie Pacocha</h5>
                                <p class="ref-excerpt">Eum ratione vero voluptates deleniti laborum enim voluptatem.</p>
                            </div>
                            <p class="ref-price">$394.82</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=494001057"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-21_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Miss Ivy Pfeffer</h5>
                                <p class="ref-excerpt">Recusandae officia quaerat recusandae et vero.</p>
                            </div>
                            <p class="ref-price">$146.25</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=306410092"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-20_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Ms. Katarina Moore</h5>
                                <p class="ref-excerpt">Molestiae expedita facere aut earum reprehenderit.</p>
                            </div>
                            <p class="ref-price">$652.86</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=127733047"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-19_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Rosella Torp</h5>
                                <p class="ref-excerpt">Ea necessitatibus dolorem recusandae reprehenderit maiores eius ut.</p>
                            </div>
                            <p class="ref-price">$139.73</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=2095884274"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-18_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Dylan Yundt DVM</h5>
                                <p class="ref-excerpt">Quia aperiam quia corporis velit ducimus deserunt.</p>
                            </div>
                            <p class="ref-price">$377.24</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1883127485"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-17_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Casey Yost</h5>
                                <p class="ref-excerpt">Facilis aut velit in nulla.</p>
                            </div>
                            <p class="ref-price">$633.88</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1695144312"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-16_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Wendy Schaden</h5>
                                <p class="ref-excerpt">Consequatur deserunt repellendus sed recusandae nulla sunt enim.</p>
                            </div>
                            <p class="ref-price">$824.78</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1515941891"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-15_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Miss Effie Jakubowski PhD</h5>
                                <p class="ref-excerpt">Quod modi aut eum ut.</p>
                            </div>
                            <p class="ref-price">$308.90</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1337264846"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-14_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Jedidiah Reinger</h5>
                                <p class="ref-excerpt">Soluta sit facilis voluptatem et.</p>
                            </div>
                            <p class="ref-price">$629.29</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=1149543817"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-13_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Dr. Crawford Macejkovic</h5>
                                <p class="ref-excerpt">Aut facere reprehenderit voluptas occaecati facere.</p>
                            </div>
                            <p class="ref-price">$287.77</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=970341460"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-12_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Clovis Mohr</h5>
                                <p class="ref-excerpt">Debitis optio repellendus voluptas dolorem.</p>
                            </div>
                            <p class="ref-price">$575.80</p>
                        </div>
                    </a><a class="ref-product" href="/product.html?product=757192479"><img class="ref-image" src="https://cdn.bootstrapstudio.io/products/product-11_md.jpg" loading="lazy" />
                        <div class="ref-product-data">
                            <div class="ref-product-info">
                                <h5 class="ref-name">Sam Moen</h5>
                                <p class="ref-excerpt">Repellendus eaque autem voluptas qui.</p>
                            </div>
                            <p class="ref-price">$746.24</p>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</body>

</html>