<html>
  <body>
    <h1>Products</h1>
    <div class="ref-products"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: '/products',
          type: 'GET',
          success: function(response) {
            // Handle the success response
            var products = response.products;
            var productsContainer = $('.ref-products');

            products.forEach(function(product) {
              var productHtml = `
                <div>
                  <h2>${product.name}</h2>
                  <p>Price: $${product.price}</p>
                  <p>Description: ${product.description}</p>
                  <p>Supplier: ${product.supplier}</p>
                </div>
              `;
              productsContainer.append(productHtml);
            });
          },
          error: function(error) {
            // Handle the error response
            console.log(error);
          }
        });
      });
    </script>
  </body>
</html>
