<!-- This file is used to display a specific product. -->
<html>
  <body>
    <h1><%= product.name %></h1>
    <p>Price: <%= product.price %></p>
    <p>Description: <%= product.description %></p>
    <p>Supplier: <%= product.supplier %></p>
  </body>
</html>